		<footer>
			<div>
				<h2>Follow Us:</h2>
			</div>
			<div>
				<a href="/instagram"><p class="fab fa-instagram social-icon"></p></a>
			</div>
			<div>
				<a href="/facebook"><p class="fab fa-facebook-f social-icon"></p></a>
			</div>
		</footer>
		<script type="text/javascript" src="js/bull.js"></script>
	</body>
</html>