		<footer>
			<div>
				<h2>Follow Us:</h2>
			</div>
			<div>
				<a href="/instagram"><i class="fab fa-instagram"></i></a>
			</div>
			<div>
				<a href="/facebook"><i class="fab fa-facebook-f"></i></a>
			</div>
		</footer>
		<script type="text/javascript" src="js/bull.js"></script>
	</body>
</html>