<% include partials/header %>

<section class="contact">
	<div class="contact-column">
		<div>
			<h2 class="u-margin-bottom">Our Location</h2>
			<a href="">205 South Main St<br>
				Crown Point, In 46307
			</a>
		</div>
		<div>
			<h2>Email</h2>
			<a href="">lift@ragingbulltraining.com</a>
		</div>
		<div>
			<h2>Phone</h2>
			<a href="">219-555-5555</a>
		</div>
	</div>
	<div class="contact-column">
		<div id="map"></div>
	</div>
</section>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&callback=initMap" async defer></script>
<script type="text/javascript" src="js/map.js"></script>


<% include partials/footer %>