<% include partials/header %>

<section class="facility">
	<div class="title">
		<h2 class="u-margin-bottom">Facility</h2>
	</div>
	<div class="facility__content">
		<img class="facility__content-img--first" alt="facility image" src="https://images.unsplash.com/photo-1545612036-2872840642dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80">
		<p>
			At Raging Bull you won’t find the fancy machinery and mirror lined walls that many come to expect when they think of a gym. Ballatore functions on a visually more simplistic and straightforward level, emphasizing barbells, weights, and whatever other training methods promise the most benefits to its clients. Limited equipment forces our trainers to fine tune their methods for strengthening the body and be creative and adaptable with their approach. Movement is the foundation and focus for our exercises, and weight is then incorporated in order to increase strength. The layout of the facility gives trainers the ability to oversee all clients and ensure proper technique and safety during workouts. 
		</p>
		<div class="facility__content-img--second">
			<img class="facility__content-img--double" alt="facility image" src="https://images.unsplash.com/photo-1517344978461-f9e40931fc00?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80">
			<img class="facility__content-img--double" alt="facility image" src="https://images.unsplash.com/photo-1526408984842-5f1323d42469?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80">
		</div>
	</div>
</section>

<% include partials/footer %>