<% include partials/header %>

	<section class="home">
		<p class="home__tagline u-margin-bottom"><em>Strengthening quality of life by strengthening the body.</em></p>
		<img class="home__img" src="https://www.strongerbyscience.com/wp-content/uploads/2014/10/Bar_bending.jpg">
		<p>
			Raging Bull Training was built in the heart of Crown Point, Indiana by three passionate and experienced trainers. Since its opening in June 2011, Raging Bull has strived to create a welcoming and supportive environment for people of all experience levels. Coaching methods are based on logic and reason with a focus on training with a purpose. 
		</p>
	</section>

<% include partials/footer %>