<% include partials/header %>

<section class="phil">
	<div class="title">
		<h2 class="u-margin-bottom">Our Philosophy</h2>
	</div>
	<div class="phil__content">
		<div>
			<img class="phil__img" alt="our philosophy" src="img/phil.jpg">
		</div>
		<div>
			<p class="u-margin-bottom">
				Raging Bull Training will provide programs focused on sustainability and accessibility in order to foster an environment where personal achievements are frequent and meaningful.
			</p>
			<p>	
				Our vision is to be a home for anyone that is willing to learn, develop healthy habits, and improve their life. It is our belief that proper training positively impacts mental health and benefits the body beyond just appearance and physical gains. We want all of our clients to experience the improvement in quality of life that consistently inspires and motivates us to do what we do.
			</p>
		</div>
	</div>
</section>

<% include partials/footer %>