<% include partials/header %>

<section class="training">
	<div class="title">
		<h2 class="u-margin-bottom">Training Options</h2>
	</div>
	<h2 class="training__tagline">
		Raging Bull offers the option for both group classes and personal training. Our goal is to fit in to your schedule and give you the opportunity to train in the manner that is the most comfortable and beneficial to you.
	</h2>
	<div class="training__train">
		<div class="training__train-img">
			<img alt="group training" src="/img/training1.jpg">
		</div>
		<div>
			<h2 class="title-h2">Group Classes</h2>
			<p>
				Group classes provide an affordable alternative to personal training. Each client will follow a program that has been specifically designed and customized to meet their individual needs and ability, while training alongside a small group of supportive individuals. Every class is guided by one of our qualified trainers, who is responsible for coaching proper techniques as well as ensuring that everyone is being safe and making improvements. Group classes are a great option for beginners with little-to-no experience who are looking to get stronger and healthier in an encouraging and non intimidating environment. These classes are also extremely beneficial to more experienced athletes who want the opportunity to train with proper form and technique while consistently challenging themselves with heavier weight and volume.
			</p>
			<p>
				<b>Classes are held five times a day, Monday-Friday</b>
			</p>
			<p>
				<b>Each class runs between 45 minutes-1 hour</b>
			</p>
			<p>
				Rates for group classes are as low as $7.50/class (available at a monthly rate of $150/month)
			</p>
			<p>
				Additional group conditioning workouts and training sessions are included and available to all clients on the weekends.
			</p>
		</div>
	</div>
	<div class="training__train">
		<div class="training__train-img">
			<img alt="train at raging bull" src="/img/training2.jpg">
		</div>
		<div>
			<h2 class="title-h2">Personal Training</h2>
			<p>
				Raging Bull’s personal training program offers expert coaching and customized training to clients on a one-on-one level. Every training session will be designed with a goal and purpose, tailored specifically to the client. Our trainers teach clients what to do and  how to do it, while also providing insight into why they are doing it. Personal training is a good option for clients who have limiting health conditions or injuries, specialized fitness goals, demanding schedules, or a desire for a more personalized training approach.
			</p>
			<p>
				<b>Training packages start at $50/session</b>
			</p>
			<p>
				Additional group conditioning workouts and training sessions are included and available to all clients on the weekends.
			</p>
			<p>
				Type in your name and email address below to set up your initial session.
			</p>
		</div>
	</div>
	<div class="training__connect">
		<form>
			<div class="training__connect-name">
				<h4>Name *</h4>
				<div>
					<input type="" name="first" placeholder="First">
				</div>
				<div>
					<input type="" name="last" placeholder="Last">
				</div>
			</div>
			<div class="training__connect-email">
				<h4>Email *</h4>
				<input type="" name="email" placeholder="Email">
			</div>
			<div>
				<button class="button">Submit</button>
			</div>
		</form>
	</div>	
</section>

<% include partials/footer %>