*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

section {
  margin: 0;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  min-height: calc(100vh - 211px);
  transition: opacity 1s; }

a {
  text-decoration: none; }

.title {
  display: flex;
  justify-content: center; }

@media (max-width: 1000px) {
  section {
    min-height: 100vh; } }

body {
  font-family: 'Overpass', sans-serif;
  background-color: #f6f6f6;
  color: #2c2e3b; }
  body p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    line-height: 2.5rem;
    letter-spacing: 1px; }
  body a {
    font-size: 1.8rem; }
  body h4 {
    font-size: 1.8rem; }
  body .title-h2 {
    color: #cf180a; }

h1 {
  font-size: 3rem;
  font-weight: 900;
  color: #cf180a; }

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0; }

.social-icon {
  font-size: 4rem; }

.u-margin-bottom {
  margin-bottom: 1.5rem; }

.button {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 1rem 2.5rem;
  background-color: #f6f6f6;
  border: 2px solid black;
  transition: all 250ms; }
  .button:hover {
    background: #2c2e3b;
    color: #f6f6f6; }
  .button:focus {
    outline: 0; }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem; }
  header .brand {
    display: flex;
    align-items: center;
    flex-basis: 30%;
    padding-left: 1.5rem; }
  header #nav {
    display: flex;
    text-align: right;
    z-index: 3;
    font-size: 2rem; }
    header #nav a {
      margin-left: 1.5rem;
      color: #2c2e3b;
      transition: all 250ms; }
    header #nav div {
      display: inline-block;
      padding: 0;
      margin: 0; }
      header #nav div:hover a {
        color: #777574; }
        header #nav div:hover a:hover {
          color: #2c2e3b; }
  header .hamburger {
    display: none;
    outline: none; }

.logo__img {
  width: 18rem; }

@media (max-width: 1250px) {
  header {
    flex-direction: column; }
    header .logo {
      flex: 0 0 100%; }
      header .logo__img {
        width: 12rem; }
    header #nav {
      opacity: 0;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 140rem;
      background-color: rgba(226, 227, 226, 0.8);
      height: 100vh;
      width: 100vw;
      transition: all 250ms ease; }
      header #nav div {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 10rem; }
        header #nav div a {
          font-size: 4rem;
          margin: 0; }
    header .hamburger {
      display: flex;
      position: fixed;
      padding: 1.5rem;
      top: 0;
      left: 0;
      z-index: 4; } }

.home__tagline {
  text-align: center; }

.home__img {
  width: 75rem; }

.home p {
  width: 100rem;
  padding: 1rem; }

@media (max-width: 1000px) {
  .home p {
    width: 90vw; }
  .home img {
    width: 80vw; } }

.phil {
  padding: 1rem; }
  .phil__content {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .phil__content div {
      flex-basis: 30%;
      padding: 2rem; }
  .phil__img {
    width: 60rem; }

@media (max-width: 1000px) {
  .phil__content {
    display: flex;
    flex-direction: column; }
    .phil__content img {
      width: 90vw; } }

.facility {
  margin-bottom: 4rem; }
  .facility__content {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .facility__content-img--first {
      width: 100rem; }
    .facility__content p {
      width: 80rem;
      padding: 1rem; }
    .facility__content-img--second {
      display: flex;
      justify-content: center; }
    .facility__content-img--double {
      display: flex;
      width: 60rem;
      flex-basis: 30%;
      padding: 1.5rem;
      margin-bottom: 2.5rem; }

@media (max-width: 1000px) {
  .facility__content p {
    width: 90vw; }
  .facility__content-img--first {
    width: 90vw; }
  .facility__content-img--second {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw; }
  .facility__content-img--double {
    width: 90vw; } }

.training__tagline {
  width: 80rem;
  margin-bottom: 5.5rem; }

.training__train {
  display: flex;
  flex-basis: 30%; }
  .training__train div {
    padding: 1.5rem; }
  .training__train img {
    width: 50rem; }
  .training__train p {
    width: 80rem;
    margin-bottom: 3rem; }

.training__connect {
  width: 30%;
  margin: 3rem 5rem 5rem 5rem; }
  .training__connect form {
    display: flex;
    flex-direction: column; }
    .training__connect form input {
      width: 95%;
      padding: 12px;
      margin: 5px 6px 5px 0;
      border: 1px solid #2c2e3b;
      background-color: #FAFAFA; }
      .training__connect form input:focus {
        background-color: #FAFAFA;
        transition: 200ms; }
  .training__connect-name:not(h4) {
    display: inline; }
  .training__connect-email input {
    width: 95%; }

@media (max-width: 1000px) {
  .training__tagline {
    width: 90vw; }
  .training__train-img {
    display: none; }
  .training__train div {
    padding: 0;
    width: 90vw; }
  .training__train p {
    width: 90vw;
    font-size: 2rem; }
  .training__connect {
    width: 80vw; } }

.test {
  margin-bottom: 7rem; }
  .test__content {
    width: 70%; }
    .test__content ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none; }
    .test__content li {
      border-right: 2px solid #777574;
      border-bottom: 3px solid #2c2e3b;
      display: flex;
      flex-basis: 40%;
      margin: 30px; }
      .test__content li div {
        padding: 5px 20px; }
        .test__content li div h2 {
          color: #cf180a;
          margin-bottom: 10px; }
        .test__content li div p {
          margin: 5px auto; }

@media (max-width: 1000px) {
  .test__content {
    width: 90vw; }
  .test li {
    flex-direction: column;
    flex-basis: 100%;
    margin-bottom: 5rem; } }

.contact {
  flex-direction: row;
  justify-content: center; }
  .contact-column {
    display: flex;
    flex-direction: column; }
    .contact-column div {
      margin-bottom: 2rem; }
      .contact-column div:first-of-type {
        margin-right: 5rem; }
    .contact-column a {
      margin-bottom: 3rem;
      color: #2c2e3b;
      font-size: 1.8rem;
      transition: all 250ms; }
      .contact-column a:hover {
        box-shadow: 0 2px #2c2e3b; }
  .contact h2 {
    margin-bottom: 5px; }
  .contact #map {
    height: 50rem;
    width: 80rem;
    margin: 2.5rem; }

@media (max-width: 1000px) {
  .contact {
    flex-direction: column-reverse;
    margin: 0; }
    .contact div:first-of-type {
      margin: 1.5rem 0 0 0; }
    .contact-column {
      margin: 0;
      padding: 0;
      width: 90vw; }
    .contact #map {
      height: 70rem;
      width: 90vw;
      margin: 0; } }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #777574;
  padding: 3rem;
  height: 15rem; }
  footer a {
    color: #2c2e3b;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.8rem;
    margin: 2rem;
    transition: text-shadow 250ms ease; }
    footer a:hover {
      text-shadow: 0px 7px 10px #2c2e3b; }
