.button {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 1.5rem;
	padding: 1rem 2.5rem;
	background-color: $color-light;
	border: 2px solid black;
    transition: all 250ms;
    
    &:hover {
        background: $color-dark;
	    color: $color-light;
    }

    &:focus {
        outline: 0;
    }
}